<html>
<head>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.17/jquery-ui.min.js"></script>
<script src="underscore-1.3.1.js"></script>
<script src="backbone.js"></script>

<style type="text/css">
.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em;
    font-size: 1.4em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }
</style>
</head>

<body>

<!-- Templates -->
<script type="text/template" id="user-template">
    <div data-id="<%= id %>"><%= id %>, <%= name %>, <%= order %></div>
</script>

<div id="app">
User List
<br/>
<ul id="user-list" class="sortable"></ul>
</div>


<script>
$(document).ready(function(){
    Backbone.sync = function(method, model, options) {
    }

    var User = Backbone.Model.extend({});

    var UserCollection = Backbone.Collection.extend({
        model: User,
        comparator: function(item) {
            return item.get('order');
        }
    });

    var userCollection = new UserCollection;

    var UserView = Backbone.View.extend({
        tagName:  "li",
        template: _.template($('#user-template').html()),

        initialize: function() {
        },

        render: function() {
            console.log(this.model);
            var data = this.model.toJSON();
            data['id'] = this.model.cid;
            $(this.el).html(this.template(data));
            return this;
        }
    });


    var AppView = Backbone.View.extend({
        el: $("#app"),

        initialize: function() {
            // enable sorting
            $(".sortable").sortable({
                update: function(el, ui) {
                    $(this).find('li > div').each(function(i){
                        var id = $(this).attr('data-id');
                        item = userCollection.getByCid(id);
                        if(item.get('order') != i+1) item.set({order: i+1});
                    });
                },
            });
            $(".sortable" ).disableSelection();
            console.log('init');
            userCollection.bind('all', this.render, this);
            userCollection.fetch();
        },

        render: function() {
            $("#user-list").html('');
            userCollection.each(this.addOne);
        },

        addOne: function(user) {
            var view = new UserView({model: user});
            $("#user-list").append(view.render().el);
        }
    });

    var app = new AppView;

    userCollection.add({name: 'tom', order: 1});
    userCollection.add({name: 'jack', order: 3});
    userCollection.add({name: 'gill', order: 2});

});
</script>

</body>
</html>
